﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="captcha.aspx.vb" Inherits="captcha" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

   
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <label for="name">Name:</label>
      <input name="name" required=""/><br />
 
      <label for="email">Email:</label>
      <input name="email" type="email" required=""/><br />

    <div class="g-recaptcha" data-sitekey="6Lf5_HUUAAAAABR8lE2NSe2E6sQmU_UuGW1CGHUO"></div>
        <input type="submit" value="Submit" />
    </div>
    </form>

     <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>

    <script>
        // if submitted check response
        if ($_POST["g-recaptcha-response"]) {
            $response = $reCaptcha->verifyResponse(
                $_SERVER["REMOTE_ADDR"],
                $_POST["g-recaptcha-response"]
            );
        }
    </script>

</body>
</html>
