﻿<%@ Master Language="VB" CodeFile="MasterPageSignIn.master.vb" Inherits="MasterPageSignIn" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>TripsKing</title>
<%--    <script src="http://localhost:56359/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="http//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>--%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js" type="text/javascript"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=EmulateIE8,IE=EmulateIE9,IE=EmulateIE10,IE=EmulateIE11" />
    <%--Like this also as below--%>
    <%--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE8,IE9,IE10,IE11" />--%>
    <meta http-eqiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <script type="text/javascript">
        var UrlBase = '<%=ResolveUrl("~/")%>';
        //var UrlBase = 'http://localhost:56359/';
        //var ApplUrl = 'http://b2b.//.com/';
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="CSS/jquery-ui-1.8.8.custom.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Bootstrap Core CSS -->
    <%--<link href="http://localhost:56359/newcss/bootstrap.min.css" rel="stylesheet" />--%>
    <link href="<%= ResolveUrl("~/newcss/bootstrap.min.css")%>" rel="stylesheet" />

    <!-- Custom C -->
    <%--<link href="http://localhost:56359/newcss/sb-admin.css" rel="stylesheet" />--%>
    <link href="<%= ResolveUrl("~/newcss/sb-admin.css")%>" rel="stylesheet" />

    <!-- Morris Charts CSS -->
    <%-- <link href="http://localhost:56359/css/plugins/morris.css" rel="stylesheet" />--%>
    <link href="<%= ResolveUrl("~/css/plugins/morris.css")%>" rel="stylesheet" />

    <!-- Custom Fonts -->
    <%--<link href="http://localhost:56359/newcss/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />--%>
    <link href="<%= ResolveUrl("~/newcss/font-awesome/css/font-awesome.min.css")%>" rel="stylesheet" type="text/css" />

    <%--<link href="CSS/itz.css" rel="stylesheet" />
    <link href="CSS/main2.css" rel="stylesheet" />
    <link href="<%= ResolveUrl("~/CSS/main2.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/style.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/astyle.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/styleone.css") %>" rel="stylesheet" type="text/css" />
    --%>
    <%--<link href="<%= ResolveUrl("~/CSS/lytebox.css") %>" rel="stylesheet" type="text/css" />
 
    <link href="<%= ResolveUrl("css/itz.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("css/app.css")%>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("css/foundation.css")%>" rel="stylesheet" type="text/css" />--%>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <%--<script src="http://localhost:56359//Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>--%>
    <script src="<%= ResolveUrl("~/Scripts/jquery-1.7.1.min.js")%>" type="text/javascript"></script>
    <%--<script src="http://localhost:56359/js/lytebox.js" type="text/javascript"></script>--%>
    <script src="<%= ResolveUrl("~/js/lytebox.js") %>" type="text/javascript"></script>

    <%--<script src="http://localhost:56359/JS/JScript.js" type="text/javascript"></script>--%>
    <script src="<%= ResolveUrl("~/JS/JScript.js") %>" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.acordianfilter').click(function () {

                $('.breakdown').hide();

                $(this).parent('.filter1').children('.finner').slideToggle();


            });
            $('#logout').click(function () {
                $('#logoutin').slideToggle();
            });

            ////debugger;
            //$("#crossid").click(function () {
            //    ////debugger;
            //    $("#divtoNotify").hide();
            //    $("#crossid").hide();
            //});
        });
        $(document).ready(function () {
            $("#menustop").click(function () {
                $(".menubtns").slideToggle();
            });
        });
    </script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="<%=ResolveUrl("~/CNJS/css/bootstrap.min.css")%>" />
<link rel="stylesheet" href="<%=ResolveUrl("~/CNJS/css/bootstrap-responsive.min.css")%>" />
<link rel="stylesheet" href="<%=ResolveUrl("~/CNJS/css/fullcalendar.css")%>" />
<link rel="stylesheet" href="<%=ResolveUrl("~/CNJS/css/maruti-style.css")%>"/>
<link rel="stylesheet" href="<%=ResolveUrl("~/CNJS/css/maruti-media.css")%>" class="skin-color" />

    <style>
    /*ul {
        display:block;
        background:#45619D;
        list-style:none;
        margin:0;
        padding:12px 10px;
        height:21px;
    }
    ul li {
        float:left;
        font:13px helvetica;
        font-weight:bold;
        margin:3px 0;
    }
    ul li a {
        color:#FFF;
        text-decoration:none;
        padding:6px 15px;
        cursor:pointer;
    }
    ul li a:hover {
        background:#425B90;
        text-decoration:none;
        cursor:pointer;
    }*/
        
    .noti_Container {
        position:relative;
    }
       
    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
        width:22px;
        height:22px;
        line-height:22px;
        border-radius:50%;
        -moz-border-radius:50%; 
        -webkit-border-radius:50%;
        background:#FFF;
        margin:-3px 10px 0 10px;
        cursor:pointer;
    }
        
    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    .noti_Counter {
        display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
        margin:-8px 0 0 25px;
        border-radius:2px;
        -moz-border-radius:2px; 
        -webkit-border-radius:2px;
        z-index:1;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    .notifications {
        display:none;
        width:400px;
        position:absolute;
        top:60px;
        left:0;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 0;
        transform:translate3d(-229px, 5px, 0px);
        border-radius:10px;
    }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    .notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:270px;
    }
        
    h3 {
        display:block;
        color:#333; 
        background:#FFF;
        font-weight:bold;
        font-size:13px;    
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }
        
    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll a {
        color:#3b5998;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:#3b5998;
        text-decoration:underline;
    }

       
</style>





 <%--   <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,500,700' rel='stylesheet' type='text/css' />--%>
<%--    <link href="<%=ResolveUrl("~/css1/animate.min.css")%>" rel="stylesheet" />

   

    <link href="<%=ResolveUrl("~/css1/soap-icon.css" ) %>" rel="stylesheet" />--%>





    <!-- Main Style -->
    <link id="main-style" href="<%=ResolveUrl("~/css1/style.css") %>" rel="stylesheet" />


    <!-- Updated Styles -->
   
<%--    <link href="<%=ResolveUrl("~/css1/updates.css")%>" rel="stylesheet" />--%>


    <!-- Custom Styles -->

<%--    <link href="<%=ResolveUrl ("~/css1/custom.css")%>" rel="stylesheet" />--%>

    <!-- Responsive Styles -->
 

<%--    <link href="<%=ResolveUrl ("~/css1/responsive.css")%>" rel="stylesheet" />--%>


<script src="<%=ResolveUrl("~CNJS/js/excanvas.min.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/jquery.min.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/jquery.ui.custom.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/bootstrap.min.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/jquery.flot.min.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/jquery.flot.resize.min.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/jquery.peity.min.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/fullcalendar.min.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/maruti.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/maruti.dashboard.js")%>"></script> 
<script src="<%=ResolveUrl("~CNJS/js/maruti.chat.js")%>"></script> 
 

<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage(newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-") {
                resetMenu();
            }
                // else, send page to designated URL            
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
</script>


    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="false">
        </asp:ScriptManager>
        <!--Header-part-->
<div id="header">
<%--  <h1><a href="dashboard.html">Maruti Admin</a></h1>--%>

<!--close-Header-part--> 

<!--top-Header-messaages-->
<%--<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>--%>
<!--close-top-Header-messaages--> 

<!--top-Header-menu-->
<div id="user-nav" class="nav navbar-nav navbar-right"><ul class="">
    <li class="" id="pending_li" runat="server"><a title=""  style="color:#c1c1c1"><i class="icon icon-warning-sign"></i> <span class="text" id="span1">Pending</span></a>
           <!--SHOW NOTIFICATIONS COUNT.-->
                
                <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
               <%-- <div id="noti_Button"></div>--%>   
         <div id="noti_Counter" class="noti_Counter" runat="server"></div>  

                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                <div id="div1" class="notifications">
                    <h3>Pending Booking</h3>
                    <div style="height:150px;overflow:auto" class="container-fluid" id="div_notify_value1" runat="server">
                      
                    </div>
                    <div class="seeAll"><a href="<%=ResolveUrl("~/DetailsPort/ADMIN/QCTicketReport")%>">See All</a></div>
                </div>
    </li>
    <li class="" id="refund_li" runat="server" ><a title="" style="color:#c1c1c1"><i class="icon icon-retweet"></i> <span class="text" id="span2">Refund</span></a>
          <div id="noti_Counter1" class="noti_Counter" runat="server"></div>  

                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                <div id="Div2" class="notifications">
                    <h3>Refund Booking</h3>
                    <div style="height:150px;overflow:auto" class="container-fluid" id="div_notify_value2" runat="server"></div>
                    <div class="seeAll"><a href="<%=ResolveUrl("~/DetailsPort/ADMIN/QCTicketReport")%>">See All</a></div>
                </div>
    </li>
    <li class="" id="reissue_li" runat="server" ><a title="" style="color:#c1c1c1"><i class="icon icon-tasks"></i> <span class="text" id="span3">Reissue</span></a>
          <div id="noti_Counter3" class="noti_Counter" runat="server"></div>  

                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                <div id="Div4" class="notifications">
                    <h3>Reissue Booking</h3>
                    <div style="height:150px;overflow:auto" class="container-fluid" id="div_notify_value3" runat="server"></div>
                    <div class="seeAll"><a href="<%=ResolveUrl("~/DetailsPort/ADMIN/QCTicketReport")%>">See All</a></div>
                </div>
    </li>
    <li class="" ><a title="" href="<%=ResolveUrl("~/DetailsPort/Admin/Agent_Details")%>" style="color:#c1c1c1"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>

    <li class=""><a title="" style="color:#c1c1c1" href="<%=ResolveUrl("~/DetailsPort/privilegepanel/BoundSheet")%>"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
    <li class=""><a title="" style="color:#c1c1c1" href="<%=ResolveUrl("~/Logout.aspx")%>"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
</div>

<%--<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-left" title="Search"><i class="icon-search icon-white"></i></button>
</div>--%>
<!--close-top-Header-menu-->
        <div id="ul_menu" runat="server" >
          
            </div>
<%--<div id="sidebar" runat="server"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a><ul>
    <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li> <a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a> </li>
    <li> <a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a> </li>
    <li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
    <li><a href="grid.html"><i class="icon icon-fullscreen"></i> <span>Full width</span></a></li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Forms</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="form-common.html">Basic Form</a></li>
        <li><a href="form-validation.html">Form with Validation</a></li>
        <li><a href="form-wizard.html">Form with Wizard</a></li>
      </ul>
    </li>
    <li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
    <li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>
    <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span class="label label-important">4</span></a>
      <ul>
        <li><a href="index2.html">Dashboard2</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="chat.html">Chat option</a></li>
      </ul>
    </li>
  </ul>
</div>--%>
   <div style="clear:both"></div>
      <div id="content">
  <div id="content-header">
    <div id="breadcrumb">  <asp:Label ID ="lblBC" runat="server"></asp:Label></div>
  </div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">  
     
        </asp:ContentPlaceHolder>

              </div>
        <div class="row-fluid" style="position:fixed;bottom:0">
  <div id="footer" class="span12"> 2018 &copy; Tripsking(www.tripsking.in) <%-- Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a>--%> </div>
<%-- <div id="Div1" class="span12"><asp:Label ID="lblcopyrt" runat="server"></asp:Label></div>--%>
</div>

    </div>
        
         <div title="click to close" style="cursor: pointer; width: 20px; height: 20px; float: right; bottom: 84px; right: 35px; position: fixed; display: none; z-index: 9999;" id="crossid">

            <img src="<%= ResolveUrl("~/Images/cross.jpg")%>">

            <audio id="audio" src="http://www.soundjay.com/button/beep-07.wav" autostart="false"></audio>
        </div>
        <div id="divtoNotify" style="background: #00ffff; overflow-y: scroll; display: none; float: right; bottom: 5px; right: 20px; position: fixed; height: 100px; width: 300px; border: 1px solid black; padding: 5px; z-index: 9999;">
        </div>
        
    </form>


<%--     <!-- Morris Charts JavaScript -->
    <script src="<%= ResolveUrl("~/newcss/js/plugins/morris/raphael.min.js")%>" type="text/javascript"></script>
    <script src="<%= ResolveUrl("~/newcss/js/plugins/morris/morris.min.js")%>" type="text/javascript"></script>
    <script src="<%= ResolveUrl("~/newcss/js/plugins/morris/morris-data.js")%>" type="text/javascript"></script>
    <script type="text/javascript">
        window.setInterval(function () {

            CallHandler();


        }, 1000000);

        function CallHandler() {

            //var obj = {
            //    'Notification': $('#Lblcancel').val(),
            //}

            $.ajax({

                type: "POST",
                url: UrlBase + "NotificationHandler.ashx",
                contentType: "application/html; charset=utf-8",
                dataType: "Html",

                //data: obj,

                responseType: "application/html; charset=utf-8",
                success: OnComplete,
                error: OnFail
            });
            PlaySound();
            return false;

        }
        function PlaySound() {
            var sound = document.getElementById("audio");
            sound.play()
        }

        function OnComplete(data) {
            if (data != "") {
                $("#divtoNotify").html(data);
                $("#divtoNotify").show();
                $("#crossid").show();
            }
        }

        function OnFail(result) {

            //alert('Request Failed');
        }

        ////$(document).on("click", "#crossid", function (e) {
        ////    $("#divtoNotify").hide();
        ////    $("#crossid").hide();
        ////    });        
        $("#crossid").click(function () {
            //debugger;
            $("#divtoNotify").hide();
            $("#crossid").hide();
        });






    </script>
   --%>

   <script>
       $(document).ready(function () {

           // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.
           $('.noti_Counter')
               .css({ opacity: 0 })
               //.text('1')  // ADD DYNAMIC VALUE (YOU CAN EXTRACT DATA FROM DATABASE OR XML).
               .css({ top: '-10px' })
               .animate({ top: '9px', opacity: 1 }, 500);

           $('#span1').click(function () {
               $('#Div2').hide();
               $('#Div4').hide();
               // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
               $('#div1').fadeToggle('fast', 'linear', function () {
                   if ($('#div1').is(':hidden')) {
                      
                       //$('#noti_Button').css('background-color', '#2E467C');
                   }
                       // CHANGE BACKGROUND COLOR OF THE BUTTON.
                   //else $('#noti_Button').css('background-color', '#FFF');
               });

               //$('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.

               return false;
           });
           $('#span2').click(function () {
               $('#div1').hide();
               $('#Div4').hide();
               // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
               $('#Div2').fadeToggle('fast', 'linear', function () {
                   if ($('#Div2').is(':hidden')) {
                     
                       //$('#noti_Button').css('background-color', '#2E467C');
                   }
                       // CHANGE BACKGROUND COLOR OF THE BUTTON.
                   //else $('#noti_Button').css('background-color', '#FFF');
               });

               //$('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.

               return false;
           });
           $('#span3').click(function () {
               $('#div1').hide();
               $('#Div2').hide();
               // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
               $('#Div4').fadeToggle('fast', 'linear', function () {
                   if ($('#Div4').is(':hidden')) {
                       //$('#noti_Button').css('background-color', '#2E467C');
                   }
                       // CHANGE BACKGROUND COLOR OF THE BUTTON.
                   //else $('#noti_Button').css('background-color', '#FFF');
               });

               //$('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.

               return false;
           });

           // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
           $(document).click(function () {
               $('.notifications').hide();

               // CHECK IF NOTIFICATION COUNTER IS HIDDEN.
               if ($('#noti_Counter').is(':hidden')) {
                
                   // CHANGE BACKGROUND COLOR OF THE BUTTON.
                   //$('#noti_Button').css('background-color', '#2E467C');
               }
           });

           //$('#div1').click(function () {
           //    return false;       // DO NOTHING WHEN CONTAINER IS CLICKED.
           //});
       });
</script>

</body>
</html>
