﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

  


    <!--MAilResetOtp-->
    <table width="700" cellpadding="0" cellspacing="0" border="0" style="border:solid 5px #ffffff;font-family:arial;color:#000033" align="center" bgcolor="#FEF9E7">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <img src="http://Tripsking.co/images/logo.png" class="CToWUd">
                </td>
            </tr>
            <tr>
                <td style="padding-left:20px;padding-right:20px">
                    <table width="100%" style="margin-top:20px" align="center">
                        <tbody>
                            <tr>
                                <td align="left">
                                    Dear Mr. DEVESH  KUMAR SINGH
                                </td>
                            </tr>

                            <tr>
                                <td style="height:20px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">
                                    As per your request, your password has been reset.
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    User ID: devesh.mailme
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <span class="il">Password</span>: 340d5512
                                </td>
                            </tr>
                            <tr>
                                <td style="height:20px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    This is an auto generated <span class="il">password</span>. You are advised to change your <span class="il">password</span> as per your convenience.
                                </td>
                            </tr>
                            <tr>
                                <td style="height:20px">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Please do not reply to this email. In case you need to report a problem/give a suggestion, please contact:

                                    <ul>
                                        <!--<li>
                                            <img src="<%=ResolveUrl(" ~ />images/home-icon-contact.png")%>" style="float: left; margin: 3px 19px 12px 31px;">
                                            <span style="float: right;">
                                                Seven Seaz Vacations Pvt. Ltd
                                                <br />
                                                H-5, South Extension Part<br />
                                                -1New Delhi-110049 (INDIA)
                                            </span>
                                        </li>-->

                                        <li>
                                            <img src="http://Tripsking.co/images/email.png" style="float: left;">
                                            Email:  info@Tripsking.com

                                        </li>
                                        <br />
                                        <li>
                                            <img src="http://Tripsking.co/images/phone.png" style="float: left;">
                                            Phone: +91-11-47 67 77 77,+91-11-48 44 44 44

                                        </li>


                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:20px">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="left"><b>Regards,</b></td>
                            </tr>
                            <tr>
                                <td align="left">Team Tripsking</td>
                            </tr>
                            <tr>
                                <td style="height:20px">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!--MailReset-->

</body>
</html>
