﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageSignIn.master" AutoEventWireup="true" CodeFile="BUSRefundReport.aspx.cs" Inherits="BS_BUSRefundReport" %>

<%@ Register Src="~/UserControl/AccountsControl.ascx" TagPrefix="uc1" TagName="Account" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <link href="<%=ResolveUrl("~/css/lytebox.css")%>" rel="stylesheet" type="text/css" />
    <link type="text/css" href="<%=ResolveUrl("~/Styles/jquery-ui-1.8.8.custom.css") %>" rel="stylesheet" />

   

    <div class="row">
        <div class="container-fluid" style="padding-right: 35px">
            <div class="page-wrapperss">

                <div class="panel panel-primary">
      
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">From Date</label>
                                    <input type="text" name="From" id="From" class="input-text full-width" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">To Date</label>
                                    <input type="text" name="To" id="To" class="input-text full-width" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">OrderId</label>
                                    <asp:TextBox ID="txtOrderID" runat="server" CssClass="input-text full-width"></asp:TextBox>
                                </div>
                            </div>
                       
                        </div>
                        <div class="row">
                                 <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">PNR</label>
                                    <asp:TextBox ID="txtPnr" runat="server" CssClass="input-text full-width"></asp:TextBox>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Source</label>
                                    <asp:TextBox ID="TxtSource" runat="server" CssClass="input-text full-width"></asp:TextBox>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Destination</label>
                                    <asp:TextBox ID="TxtDestination" runat="server" CssClass="input-text full-width"></asp:TextBox>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Ticket No</label>
                                    <asp:TextBox ID="txtTicketNo" runat="server" CssClass="input-text full-width"></asp:TextBox>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">BusOperator</label>
                                    <asp:TextBox ID="txtBusOperator" runat="server" CssClass="input-text full-width"></asp:TextBox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" id="td_Agency" runat="server">
                                <div class="form-group" id="td_Agency1" runat="server">
                                    <label for="exampleInputPassword1">Agency Name</label>
                                    <input type="text" id="txtAgencyName" class="input-text full-width" name="txtAgencyName" onfocus="focusObj(this);"
                                        onblur="blurObj(this);" defvalue="Agency Name or ID" value="Agency Name or ID" />
                                    <input type="hidden" id="hidtxtAgencyName" name="hidtxtAgencyName" value="" />
                                </div>
                            </div>
                        </div>


                      <%--  <div class="row">
                            <div class="col-md-3">
                                Total Amount :&nbsp;&nbsp;
                                <asp:Label ID="lbl_Total" runat="server"></asp:Label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Total_Ticket_Count :&nbsp;&nbsp;&nbsp;&nbsp;
                                <asp:Label ID="lbl_Sales" runat="server"></asp:Label>
                            </div>
                        </div>--%>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <br />
                                    <asp:Button ID="btn_result" runat="server" Text="Search Result" CssClass="btn btn-lg btn-primary" OnClick="btn_result_Click" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <br />
                                    <asp:Button ID="btn_export" runat="server" Text="Export" CssClass="btn btn-lg btn-primary" OnClick="btn_export_Click" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="color: #FF0000">
                                * N.B: To get Today's booking without above parameter,do not fill any field, only
                            click on search your booking.
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="background-color: #fff; overflow: auto;" runat="server">
                            <div align="center">

                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: white;">

                                    <tr>
                                        <td>

                                            <asp:UpdatePanel ID="up" runat="server">
                                                <ContentTemplate>
                                                    <asp:GridView ID="GrdBusReport" runat="server" AllowPaging="true" AutoGenerateColumns="false"
                                                        CssClass="table" GridLines="None" PageSize="30">
                                                        <Columns>
                                                            <asp:TemplateField HeaderText="Ticketno">
                                                                <ItemTemplate>
                                                                    <a href='../BS/TicketSummary.aspx?tin=<%#Eval("TICKETNO")%>&oid=<%#Eval("ORDERID")%>'
                                                                        rel="lyteframe" rev="width: 1000px; height: 500px; overflow:hidden;" target="_blank"
                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #668aff">
                                                                        <asp:Label ID="TKTNO" runat="server" Text='<%#Eval("TICKETNO")%>'></asp:Label>(Summary)
                                                                    </a>
                                                                </ItemTemplate>
                                                            </asp:TemplateField>
                                                            <asp:TemplateField Visible="false">
                                                                <ItemTemplate>
                                                                    <a href='../BS/CancelTicket.aspx?tin=<%#Eval("TICKETNO")%>&oid=<%#Eval("ORDERID")%>'
                                                                        rel="lyteframe" rev="width: 700px; height: 300px; overflow:hidden;" target="_blank"
                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #668aff">(CancelTicket) </a>
                                                                </ItemTemplate>
                                                            </asp:TemplateField>
                                                          <%--  <asp:BoundField DataField="EASYTRANCODE_ITZ" HeaderText="EasyTrancId" />
                                                            <asp:BoundField DataField="EasyRefundID" HeaderText="EasyRefundID" />--%>
                                                            
                                                            <asp:BoundField DataField="AgencyId" HeaderText="AgencyId" />
                                                            <asp:BoundField DataField="AGENTID" HeaderText="UserId" />
                                                            <asp:BoundField DataField="AGENCY_NAME" HeaderText="Agency&nbsp;Name" />
                                                            <asp:BoundField DataField="ORDERID" HeaderText="Order&nbsp;Id" />
                                                            <asp:BoundField DataField="TRIPID" HeaderText="Trip&nbsp;Id" />
                                                            <asp:BoundField DataField="SOURCE" HeaderText="Source" />
                                                            <asp:BoundField DataField="DESTINATION" HeaderText="Destination" />
                                                            <asp:BoundField DataField="BUSOPERATOR" HeaderText="Bus&nbsp;Operator" />
                                                            <asp:BoundField DataField="SEATNO" HeaderText="Seat&nbsp;No" />
                                                            <asp:BoundField DataField="PAXNAME" HeaderText="PaxName" />
                                                            <asp:BoundField DataField="GENDER" HeaderText="Gender" />
                                                            <asp:BoundField DataField="TA_NET_FARE" HeaderText="Fare" />
                                                            <asp:BoundField DataField="TICKETNO" HeaderText="Ticket&nbsp;No" />
                                                            <asp:BoundField DataField="PNR" HeaderText="PNR" />
                                                            <asp:BoundField DataField="REFUND_AMT" HeaderText="Refund&nbsp;Amount" />
                                                            <asp:BoundField DataField="APIREFUND_AMT" HeaderText="APIRefundAmount" />
                                                            <asp:BoundField DataField="REFUND_SERVICECHRG" HeaderText="Refund&nbsp;Service&nbsp;Chrg" />
                                                            <asp:BoundField DataField="CancelCharge" HeaderText="CancelCharge" />
                                                            <asp:BoundField DataField="PAYMENT_MODE" HeaderText="PaymentMode" />
                                                            <asp:BoundField DataField="REFUND_STATUS" HeaderText="Refund&nbsp;Status" />
                                                            <asp:BoundField DataField="TA_TDS" HeaderText="TDS" />
                                                            <asp:BoundField DataField="JOURNEYDATE" HeaderText="Journey&nbsp;Date" />
                                                            <asp:BoundField DataField="CREATEDDATE" HeaderText="Booking&nbsp;Date" />
                                                            <asp:BoundField DataField="ACCEPTEDBY" HeaderText="AcceptedBy" />
                                                            <asp:BoundField DataField="ExceRemark" HeaderText="Remark" />
                                                            <asp:BoundField DataField="REFUNDEDBY" HeaderText="Refunded By" />
                                                        </Columns>
                                                        <RowStyle CssClass="RowStyle" />
                                                        <EmptyDataRowStyle CssClass="EmptyRowStyle" />
                                                        <PagerStyle CssClass="PagerStyle" />
                                                        <SelectedRowStyle CssClass="SelectedRowStyle" />
                                                        <HeaderStyle CssClass="HeaderStyle" />
                                                        <EditRowStyle CssClass="EditRowStyle" />
                                                        <AlternatingRowStyle CssClass="AltRowStyle" />
                                                    </asp:GridView>
                                                </ContentTemplate>
                                            </asp:UpdatePanel>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var UrlBase = '<%=ResolveUrl("~/") %>';
    </script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-1.4.4.min.js") %>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-ui-1.8.8.custom.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/AgencySearch.js") %>"></script>
</asp:Content>

