﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPageSignIn.master" AutoEventWireup="false" CodeFile="hello.aspx.vb" Inherits="hello" %>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <link href="<%=ResolveUrl("~/css/lytebox.css")%>" rel="stylesheet" type="text/css" />
        <style type="text/css">
        .page-wrapperss
        {
            background-color: #fff;
            /*margin-left: 15px;*/
        }
    </style>
    <div class="row">
        <div class="col-md-12 container-fluid" style="padding-right: 35px">
            <div class="page-wrapperss">

                <div class="panel panel-primary">

                    <div class="panel-body">

                        <div class="row">
    <table>
        <tr>
            <td>
                <asp:TextBox runat="server" ID="ht"></asp:TextBox>
            </td>
            <td>
                <asp:Button runat="server" Text="button" OnClick="Unnamed_Click" />
            </td>
            
        </tr>
    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script type="text/javascript">
            var UrlBase = '<%=ResolveUrl("~/") %>';
    </script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-ui-1.8.8.custom.min.js")%>"></script>
</asp:Content>

