﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageSignIn.master" AutoEventWireup="true" CodeFile="RechargeComission.aspx.cs" Inherits="DetailsPort_RechargeComission_RechargeComission" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">



    <script type="text/javascript">

        $(document).ready(function () {

            debugger;
            $('#<%=Submit.ClientID%>').click(function (event) {

                var returntypp = true;
                if ($.trim($("#<%=DdlProcesstype.ClientID%>").val()) == "") {

                    $("#<%=DdlProcesstype.ClientID%>").focus();
                    alert("Please select ProcessType");
                    $('.error').show();
                    returntypp = false;
                }

                else if ($.trim($("#<%=Ddlsupplier.ClientID%>").val()) == "") {

                    $("#<%=Ddlsupplier.ClientID%>").focus();
                    alert("Please select Operotor");
                    $('.error1').show();
                    returntypp = false;
                }

                else if ($.trim($("#<%=ddlagentType.ClientID%>").val()) == "") {

                    $("#<%=ddlagentType.ClientID%>").focus();
                    alert("Please select Group Type");
                    $('.error2').show();
                    returntypp = false;
                }


                return returntypp;
            });

        });



function checkit(evt) {
    evt = (evt) ? evt : window.event
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (!(charCode > 64 && charCode < 91 || charCode > 96 && charCode < 123 || (charCode == 8 || charCode == 45))) {
        return false;
    }
    status = "";
    return true;
}
function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode != 46 && charCode > 31
      && (charCode < 48 || charCode > 57))
        return false;

    return true;
}

function checkitt(evt) {
    evt = (evt) ? evt : window.event
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (!(charCode > 47 && charCode < 58)) {
        return false;
    }
    status = "";
    return true;
}

function getKeyCode(e) {
    if (window.event)
        return window.event.keyCode;
    else if (e)
        return e.which;
    else
        return null;
}
function keyRestrict(e, validchars) {
    var key = '', keychar = '';
    key = getKeyCode(e);
    if (key == null) return true;
    keychar = String.fromCharCode(key);
    keychar = keychar.toLowerCase();
    validchars = validchars.toLowerCase();
    if (validchars.indexOf(keychar) != -1)
        return true;
    if (key == null || key == 0 || key == 8 || key == 9 || key == 13 || key == 27)
        return true;
    return false;
}
    </script>


    <script src="<%=ResolveUrl("~/Js/jquery-ui-1.8.8.custom.min.js") %>" type="text/javascript"></script>
    <%--<script src="<%=ResolveUrl("~/Js/jquery-1.7.1.min.js") %>" type="text/javascript"></script>--%>
    <script src="validation.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {



            //function confirmUpdate(thisObj) {



            //    if ($.trim($("#ctl00_ContentPlaceHolder1_GridView1_ctl02_lbtnEdit").val()) == "") {

            //        $("#ctl00_ContentPlaceHolder1_GridView1_ctl02_lbtnEdit").focus();
            //        return false;
            //    }
            //    else {
            //        alert("hi");
            //        var upd = confirm('Are you sure to update this configuration');
            //        if (upd == true) {
            //            return true;
            //        }
            //        else {
            //            return false;
            //        }
            //    }
            //}
            function confirmDelete() {
                var upd = confirm('Are you sure to delete this configuration');
                if (upd == true) {
                    return true;
                }
                else {
                    return false;
                }
            }
        });
    </script>

    <div>
        <div class="container-fluid" style="padding-right: 35px">

            <div>


                <div class="panel panel-primary">

                    <div class="panel-body">

                        <div class="widget-content nopadding">

                            <div id="form-wizard-1" class="step">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <%--<label for="exampleInputEmail1" id="lblrole_type">Role :</label>--%>
                                            <asp:DropDownList CssClass="input-text full-width" ID="DdlProcesstype" runat="server" OnSelectedIndexChanged="DdlProcesstype_SelectedIndexChanged" AutoPostBack="true">
                                            </asp:DropDownList>
                                        </div>

                                    </div>

                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <%--<label for="exampleInputEmail1" id="lblrole_type">Role :</label>--%>
                                            <asp:DropDownList CssClass="input-text full-width" ID="Ddlsupplier" runat="server">
                                                <asp:ListItem Value="">OPERATOR:</asp:ListItem>
                                            </asp:DropDownList>
                                        </div>

                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <%--<label for="exampleInputEmail1" id="lblrole_type">Role :</label>--%>
                                            <asp:DropDownList CssClass="input-text full-width" ID="ddlagentType" runat="server">
                                                <asp:ListItem Value="">AgentType:</asp:ListItem>
                                            </asp:DropDownList>
                                        </div>

                                    </div>

                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <%--<label for="exampleInputEmail1" id="lblrole_type">Role :</label>--%>
                                            <asp:DropDownList CssClass="input-text full-width" ID="ddlcomtype" runat="server">
                                                <%--<asp:ListItem>CommissionType:</asp:ListItem>--%>
                                                <asp:ListItem Value="Percentage">Percentage</asp:ListItem>
                                                <asp:ListItem Value="Fixed">Fixed</asp:ListItem>
                                            </asp:DropDownList>
                                        </div>

                                    </div>


                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <%-- <label for="exampleInputPassword1" id="lblname" runat="server">Name :</label>--%>
                                            <asp:TextBox CssClass="form-control input-text full-width" onkeypress="return isNumberKey(event)" value="0" runat="server" ID="txtComm" MaxLength="5" placeholder="Commission"></asp:TextBox>
                                            <span class=" input-group-addon" style="background-color: #49cced">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-xs-2" style="margin-top: 5px">
                                        <div class="form-group">
                                            <asp:Button ID="Submit" runat="server" Text="Submit" CssClass="btn btn-success" OnClick="Submit_Click" />

                                            <asp:Button ID="Search" runat="server" Text="Search" CssClass="btn btn-success" OnClick="Search_Click" />

                                        </div>
                                    </div>

                                    <%--<div class="col-xs-2" style="margin-top: 5px">
                                        <div class="form-group">
                                            



                                        </div>
                                    </div>--%>
                                </div>
                                <div class="row">
                                </div>


                                <div class="row">
                                    <label for="exampleInputPassword1" id="Label1" runat="server" style="color: red;"></label>
                                </div>


                                <%-- <div class="form-group">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <asp:Button ID="Cancel" runat="server" Text="Cancel" CssClass="button buttonBlue" OnClick="Cancel_Click" />

                            </div>
                        </div>--%>
                                <%--<div class="row">
                               <div class="col-md-8">
                        <div class="form-group">
                            <label for="exampleInputPassword1" id="Label1" runat="server"></label>
                        </div>
                                   </div>
                               </div>--%>
                                <hr />
                                <div>
                                    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="false" DataKeyNames="Id"
                                        OnRowEditing="OnRowEditing" OnRowCancelingEdit="OnRowCancelingEdit"
                                        OnRowUpdating="OnRowUpdating" OnRowDeleting="OnRowDeleting" PageSize="8"
                                        CssClass="table table-striped table-bordered table-hover" Width="100%" Style="text-transform: uppercase;">

                                        <Columns>
                                            <asp:TemplateField HeaderText="Counter" ItemStyle-Width="150">
                                                <ItemTemplate>
                                                    <asp:Label ID="lblcounter" runat="server" Text='<%# Eval("Id") %>'></asp:Label>
                                                </ItemTemplate>

                                            </asp:TemplateField>
                                            <asp:TemplateField HeaderText="ProcessType" ItemStyle-Width="150">
                                                <ItemTemplate>
                                                    <asp:Label ID="lblProcessType" runat="server" Text='<%# Eval("ProcessType") %>'></asp:Label>
                                                </ItemTemplate>

                                            </asp:TemplateField>

                                            <asp:TemplateField HeaderText="Operator" ItemStyle-Width="150">
                                                <ItemTemplate>
                                                    <asp:Label ID="lblOperator" runat="server" Text='<%# Eval("Supplier") %>'></asp:Label>
                                                </ItemTemplate>

                                            </asp:TemplateField>
                                            <asp:TemplateField HeaderText="AgentType" ItemStyle-Width="150">
                                                <ItemTemplate>
                                                    <asp:Label ID="lblAgentType" runat="server" Text='<%# Eval("AgentType") %>'></asp:Label>
                                                </ItemTemplate>

                                            </asp:TemplateField>

                                            <asp:TemplateField HeaderText="Type" ItemStyle-Width="150">
                                                <ItemTemplate>
                                                    <asp:Label ID="lblType" runat="server" Text='<%# Eval("Type") %>'></asp:Label>
                                                </ItemTemplate>
                                                <EditItemTemplate>
                                                    <asp:DropDownList ID="ddlType" runat="server" Width="150px">
                                                        <asp:ListItem Value="Percentage">Percentage</asp:ListItem>
                                                        <asp:ListItem Value="Fixed">Fixed</asp:ListItem>

                                                    </asp:DropDownList>

                                                    <%--<asp:Label ID="lblRoleNameHidden" runat="server" Text='<%# Eval("Type") %>' Visible="false"></asp:Label>--%>
                                                </EditItemTemplate>
                                            </asp:TemplateField>
                                            <asp:TemplateField HeaderText="Commision" ItemStyle-Width="150">
                                                <ItemTemplate>
                                                    <asp:Label ID="lblCommision" runat="server" Text='<%# Eval("Commision") %>'></asp:Label>
                                                </ItemTemplate>
                                                <EditItemTemplate>
                                                    <asp:TextBox ID="txtCommision" runat="server" Text='<%# Eval("Commision") %>'></asp:TextBox>
                                                </EditItemTemplate>
                                            </asp:TemplateField>


                                            <asp:TemplateField HeaderText="Edit/Delete" ItemStyle-CssClass="nowrapgrdview">
                                                <EditItemTemplate>
                                                    <asp:LinkButton ID="lbtnUpdate" runat="server" CommandName="Update" Text="Update"></asp:LinkButton>
                                                    <asp:LinkButton ID="lbtnCancel" runat="server" CommandName="Cancel" Text="Cancel"></asp:LinkButton>
                                                </EditItemTemplate>
                                                <ItemTemplate>
                                                    <asp:LinkButton ID="lbtnEdit" runat="server" CommandName="Edit" Text="Edit"></asp:LinkButton>/
                                    <asp:LinkButton ID="lbtnDelete" runat="server" CommandName="Delete" Text="Delete" CommandArgument='<%#Eval("Id")%>' OnClientClick="return confirmDelete();"></asp:LinkButton>
                                                </ItemTemplate>
                                            </asp:TemplateField>


                                        </Columns>

                                    </asp:GridView>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // jQuery ".Class" SELECTOR.
        $(document).ready(function () {
            $('.groupOfTexbox').keypress(function (event) {
                alert('Hit');
                return isNumber(event, this)
            });
        });
        // THE SCRIPT THAT CHECKS IF THE KEY PRESSED IS A NUMERIC OR DECIMAL VALUE.
        function isNumber(evt, element) {
            debugger;
            var charCode = (evt.which) ? evt.which : event.keyCode

            if (
                (charCode != 45 || $(element).val().indexOf('-') != -1) &&      // “-” CHECK MINUS, AND ONLY ONE.
                (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
                (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    </script>

</asp:Content>

